{{define "bibEntry"}}
{{$workType := (index . "work-type")}}
{{$workTitle := (index . "work-title" "title" "value")}}
{{$workID := (index . "put-code")}}
{{printf "DEBUB bibEntry %s\n\n" (index . "work-type") }}

{{if eq $workType "JOURNAL_ARTICLE"}}
@Article{
{{else}}
@other{
{{end}}
{{- $workID}}
    {{with $workTitle}}title = {{printf "%q" . }},{{end}}
}
{{end}}

{{with .data -}}{{/* 
    1. Reach into the ORCID Profile JSON structure and pull out the works array
    2. For each item in works array format the entry as BibTeX using the bibEntry template
*/}}
{{- range $work := (index . "orcid-profile" "orcid-activities" "orcid-works" "orcid-work") -}}
{{template "bibEntry" $work}}
{{- end -}}
{{else}}
No data found
{{end}}
