{{- define "authList" -}}
{{/* Assemble a list of authors from "work-contributors" "contributor" array */}}
{{- print "\n    author = \"" -}}
{{- range $i, $author := . -}}
    {{- if (index $author "credit-name") -}}
        {{- if $i}} and {{ end -}}{{- (index $author "credit-name" "value") -}}
    {{- end -}}
{{- end -}}
{{- print "\""}}
{{- end -}}

{{- define "externalIdentifiers" -}}
{{- $identifierType := (index . "work-external-identifier-type") -}}
{{- $identifierID := (index . "work-external-identifier-id") -}}
{{- with $identifierType -}}{{- with $identifierID -}}{{- printf "    %s = %q,\n" $identifierType $identifierID.value -}}{{- end -}}{{- end -}}
{{- end -}}

{{- define "bibEntry" -}}
{{/* Pull out the remaining fields and map to BibTeX fields if values are not empty */}}
{{- $entryID := (index . "put-code") -}}
{{- $Journal := (index . "journal-title") -}}
{{- $entryType := (index . "work-type") -}}
{{- $workTitle := (index . "work-title" "title") -}}
{{- $workSubtitle := (index . "work-title" "subtitle") -}}
{{- $shortDescription := (index . "short-description") -}}
{{- $pubDate := (index . "publication-date") -}}
{{- $contributors := (index . "work-contributors") -}}
{{- $workExternalIdentifiers := (index . "work-external-identifiers") -}}

{{- if eq $entryType "JOURNAL_ARTICLE" }}
@Article{ {{- with $entryID -}}{{- . -}},{{end}}
{{- else if eq $entryType "MAGAZINE_ARTICLE" }}
@Article{ {{- with $entryID -}}{{- . -}},{{end}}
{{- else if eq $entryType "REPORT" }}
@TechReport{ {{- with $entryID -}}{{- . -}},{{end}}
{{- else if eq $entryType "BOOK" }}
@Book{ {{- with $entryID -}}{{- . -}},{{end}}
{{- else if eq $entryType "CONFERENCE_PAPER" }}
@Inproceedings{ {{- with $entryID -}}{{- . -}},{{end}}
{{- else if eq $entryType "DATA" }}
@Data{ {{- with $entryID -}}{{- . -}},{{end}}
{{- else }}
@Misc{ {{- with $entryID -}}{{- . -}},{{end}}
{{- end }}
{{- with $Journal}}
    journal = {{- printf "%q" .value -}},{{end}}
{{- with $workTitle}}    
    title = {{- printf "%q" .value -}},{{end}}
{{- with $workSubtitle}}
    subtitle = {{- printf "%q" .value -}},{{end}}
{{- with $contributors -}}
    {{- template "authList" .contributor -}},{{end}}
{{- with $pubDate -}}
{{- with (index $pubDate "year")}}
    year = {{- printf "%q" .value -}},{{end}}
{{- with (index $pubDate "month")}}
    month = {{- printf "%q" .value -}},{{end}}
{{- with (index $pubDate "day")}}
    day = {{- printf "%q" .value -}},{{end}}
{{- end}}
{{/* External identifier template is responsible for hte whole tag and value of its entries, e.g. DOI, ISBN */}}
{{- with $workExternalIdentifiers -}}
{{- range $externalIdentifiers := (index . "work-external-identifier") -}}
{{template "externalIdentifiers" $externalIdentifiers -}}{{end}}
{{- end -}}
}
{{end}}

{{- with .data -}}{{/* 
    1. Reach into the ORCID Profile JSON structure and pull out the works array
    2. For each item in works array format the entry as BibTeX using the bibEntry template
*/}}
{{range $work := (index . "orcid-profile" "orcid-activities" "orcid-works" "orcid-work") -}}
{{/* If BibTeX citation exists use it otherwise building as best we can */}}
{{- if (index $work "work-citation")}}
{{- if (eq (index $work "work-citation" "work-citation-type") "BIBTEX")}}
{{- with (index $work "work-citation" "citation")}}
{{.}}
{{end -}}
{{- else}}
{{template "bibEntry" $work}}
{{end -}}
{{- else -}}
{{template "bibEntry" $work}}
{{- end -}}
{{- end -}}
{{- end -}}
