{{- range $i, $val := (index .data "bulk") -}}

{{- if (eq (index $val "work" "type") "JOURNAL_ARTICLE") }}
@Article{ id_{{- $i }},
    {{- with (dotpath ".work.title.title.value" $val "") -}}{{- printf "\n\ttitle = %q,\n" . }}{{- end -}}
}
{{- end }}

{{- end }}
